/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Comfortaa:700|Fascinate+Inline|Fredoka+One|Lemonada|Chewy|Monoton|Russo+One|Chelsea+Market|Coming+Soon|Permanent+Marker|Sigmar+One|Source+Code+Pro:900|Open+Sans+Condensed:300|Dekko|Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Dekko", cursive;
// $base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Permanent Marker", cursive;
// $header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

$gray-darker:  #222;
$gray-dark:    #333;
$gray:         #555;
$gray-light:   #777;
$gray-lighter: #eee;


// Our Palette
$color1: rgba(254, 74, 73, 1);
$color2: rgba(237, 231, 217, 1);
$color3: rgba(50, 69, 103, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(237, 37, 78, 1);

$logo-red: $color5;
$app-bg: $color3;


