/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper {
 min-height: calc(100vh - 140px);
 background-color: #E7D7C1;//  &:after {
//   content: "";
//   display: block;
//  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    min-height: 100vh;
  }
}

.what-we-do {
  background-color: #324567;
  margin: 40px 15px 40px 15px;
}

.what-we-do-red {
  background-color: #ED254E;
  margin: 30px 15px 0px 15px;
}

.what-we-do-font, h3 {
  color: white !important;
  font-family: 'Dekko', cursive;
}


