/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper {
 min-height: calc(100vh - 140px);
 background-color: rgba(247,240,82, 0.2);//  &:after {
//   content: "";
//   display: block;
//  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    min-height: 100vh;
  }
}
