
// .list-group-item {
//   display: none;
// }

.stadium-sectors a {
  color: black;
}


.stadium-img img {
  display: block;
  margin: 0 auto;

}


.stadium-sectors {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}


.sector-select-title h3 {
  color: black;
}

.list-group-item a:hover {
  background-color: red;
}

.item-lista {
  max-width: 210px;
}

.item-lista:hover {
  background-color: red;
}

.painel {
  margin:5%;
}

// @media screen and (max-width: 700px) {
//   .painel {
//     margin: 10%;
//   }
// }

