
// .list-group-item {
//   display: none;
// }

.stadium-sectors a {

}


.stadium-img img {
  display: block;
  margin: 0 auto;

}


.stadium-sectors {
  // max-width: 300px;
  margin-top: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .col-xs-12 {
    width: 60%;
  }
  // margin: 0 auto;
}


.sector-select-title {
  color: black;
  font-family: "Open Sans", "Helvetica", "sans-serif";

}


.sector-select-title h3 {
  color: black;
}

.sector-select-title p {
  font-family: "Open Sans", "Helvetica", "sans-serif";
}


// .section-button {
//   margin-top: 5px;
//   margin-bottom: 5px;
//   background-color: $logo-red;
//   border-radius: 5px;
//   border-color: white;

// }

.section-btn {
  margin-top: 5px;
  background-color: rgba(237,37,78, 0.8);
  border-color: rgba(237,37,78, 0.8) !important;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 10px;
}

.section-btn:hover {
  box-shadow: 0 1px 1px black;
  background-color: rgba(237,37,78, 1) !important;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 10px;

}




