


<div class="delivery-guy-msg" style="text-align: center; color: white; font-size: 40px;font-family: 'Chewy', cursive;">
  <% if @order.present? %>
    <p> Novo Pedido Recebido</p>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <img width="150" height="150" style="display: block; margin: auto" src="https://image.flaticon.com/icons/svg/223/223196.svg">
          <%= link_to "Toca pra mim ", order_acceptance_update_path(order_id: @order.id, choice: "aprovar"), method: :post, class: "btn btn-success" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center" style="margin-top: 30px;">
          <img width="150" height="150" style="display: block; margin: auto" src="https://image.flaticon.com/icons/svg/223/223204.svg">
          <%= link_to "Chuta pra fora", order_acceptance_update_path(order_id: @order.id, choice: "recusar"), method: :post, class: "btn btn-warning"%>
        </div>
      </div>
    </div>
  <% else %>
    <button type="button" class="refresh btn btn-lg btn-secondary">Atualizar página</button>
  <% end %>
</div>


<%= content_for :delivery_guy_refresh do %>
  <script>
    $(document).ready(function(){
      $(".refresh").on("click", function(event){
        window.location.reload(true);
      });
    });
  </script>
<% end %>
