<head><link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet"></head>

 <div style="background-color:#E84751; height:80vh;">


<br>
<br>
<div class="msg" style="text-align: center; color: white; font-size: 40px;font-family: 'Chewy', cursive;">
 New Order Received
<br>
<br>
  <% if @order.present? %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">

<%# Accept the Order Icon %>
        <img width="150" height="150" style="display: block; margin: auto" src="https://image.flaticon.com/icons/svg/223/223196.svg">

<%# Accept the Order Bttn %>
        <%= link_to "Toca pra mim ", order_acceptance_update_path(order_id: @order.id, status: "aprovar"), method: :post, class: "btn btn-success " %>
      </div>
    </div>

    <div class="row">
      <br>
      <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 text-center">
        <div class="row">

<%# Refuse the Order Icon %>
          <div class="col-xs-12">
            <img width="60" height="60" src="https://image.flaticon.com/icons/svg/223/223204.svg">
          </div>

<%# Refuse the Order Bttn %>
          <div class="col-xs-12">
            <%= link_to "Chuta pra fora", order_acceptance_update_path(order_id: @order.id, status: "recusar"), method: :post, class: "btn btn-warning"%>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% end %>
</div>

