
<div class="container">
  <div class="row">
    <ul class="list-group">
      <% @products.each do |product| %>
        <li class="list-group-item">
          <%= product.name %>
          <%= select_tag(:quantity, options_for_select(1..5), prompt: "Qtde", class: 'btn btn-primary btn-lg') %>

        </li>
      <%end %>
    </ul>
  </div>
</div>

