
<div class="container">
  <div class="row">
    <h3 class="text-center"><%=@event.location%></h3>
    <div class="stadium-img col-xs-12 col-md-6 col-sm-12">
      <%= cl_image_tag(@event.photo, class: "img-responsive",  crop: :fill)%>
    </div>
    <div class="list-group stadium-sectors col-md-6 col-sm-12">
      <% @sections.each do |sec| %>
        <button type="button" class="list-group-item"><%= link_to sec.name, products_select_path(section: sec.id) %>
        </button>
      <% end %>
    </div>
  </div>
</div>

