
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1><%= @order.status %></h1>
      <h3><%= @order.customer_profile.seat_info_1 %></h3>
      <h3><%= @order.customer_profile.seat_info_2 %></h3>
    </div>
  </div>
</div>
