
<section class="chatper" id="story"  style="background-color: #E84751;">

<div class="container">
<br>
<br>
  <div class="row">

    <div class="col-sm-5" style="font-family: 'Lemonada', cursive; text-align: right; color: white;" >
    <br>
    <br>
    <br>
    <br>
      <p>Mais uma has been created by 4 friends that were pissed-of of waiting in lines during events. </p>
    </div>

     <div class="col-sm-2">
     </div>

    <div class="col-sm-5">
          <img width="300" height="300" style=" border-radius: 50%;" align="right" src="http://images.performgroup.com/di/library/Copa_America_2015/86/63/jairzinho-artilheiro_10tcy0jzcubmb12p8szmlq5tcg.jpg?t=1482437932">
    </div>

  </div>


<br>
<br>
  <div class="row">

     <div class="col-sm-5">
      <img width="300" height="300" style=" border-radius: 50%;" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcREndu5cgDPeJksTpCAL_GdWlu3G8cmCmUHC-SaVT_sruxuj5E_Sw">
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-5" style="font-family: 'Lemonada', cursive; text-align: left; color: white;">
    <br>
    <br>
    <br>
    <br>
      <P>They decided to create a reliable tech solution that would smoother the sales process, while helping organizers to collect data. </P>
    </div>

  </div>

<br>
<br>
  <div class="row">

   <div class="col-sm-5" style="font-family: 'Lemonada', cursive; text-align: right; color: white;">
    <br>
    <br>
    <br>
    <br>
      <p> Mais Uma is a product oriented web-app that was designed to be simple, reliable and meaningful for both sides. </p>
    </div>


    <div class="col-sm-2">
    </div>

    <div class="col-sm-5">
      <img width="300" height="300" style=" border-radius: 50%;" align="right" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS4oLVWXMCa5oGVozGGm3e8bJAOP5QgcRbGWvlOcX4TEh7y4svJ">
    </div>

  </div>

<br>
<br>
  </section





</div>


