<div class="banner" style="background-image: linear-gradient(320deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 80%), url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1488814706/jairzinho-artilheiro_10tcy0jzcubmb12p8szmlq5tcg_cmutlh.jpg');">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="banner-content">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Where we are...">
            </div>
            <div class="form-group">
            <span type="submit" class="btn btn-default">Go</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
      </div>
    </div>
  </div>
</div>
