
<%# LOGIN Banner  %>
<div class="banner" style="padding-bottom: 200px; background-image: linear-gradient(320deg, rgba(31,67,134,0.5) 0%, rgba(31,67,134,0.3) 80%), url('http://blogs.infobae.com/mundialistas/files/2013/05/Festejo-de-Brasil.jpg'); background-position: center; background-size: contain">
  <div class="container text-center banner-content"; style="margin-top: 100px;">
    <h1 style="margin-bottom: 90px; font-family: 'Permanent Marker', cursive; text-shadow: 2px 2px #1A2632;"> Comida e bebidas no seu assento  em 5 minutos </h1>
      <%= link_to "Cansei das filas", new_user_session_path , class: "btn btn-primary home-btn order" %>
  </div>
</div>


<%# Why we are Cool %>
<div class="banner" style="padding-bottom: 50px; background-color:#ED254E;">

  <div class="container" style="margin-top: 70px;">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row what-we-do">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494354535/chair1_1_bhm20o.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" > Peça do seu assento </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row what-we-do">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494354530/time_1_dk9izt.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">

             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" > Pague com cartão  </p>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row what-we-do">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494354535/chair1_1_bhm20o.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" > Entrega em 5 minutos </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- APP BANNER -->
<div class="banner" style="background-image: linear-gradient(320deg, rgba(31,67,134,0.5) 0%, rgba(31,67,134,0.3) 80%), url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1494355602/AAEAAQAAAAAAAAd-AAAAJDVhZmE2ZTRiLWI5Y2ItNDkzNC1hYzlhLTVjODk3NGNkOTI0YQ_xjpo4t.jpg'); background-position: center; background-size: contain">
  <div class="container text-center banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12  col-sm-6">
          <h1 class="what-we-do-font" style="margin: 100px 0 170px 0;">MAIS UMA APP IN YOUR POCKET</h1>
          <%= link_to "FREE DOWNLOAD", new_user_session_path , class: "btn btn-primary home-btn order what-we-do-font" %>
        </div>

        <div class="col-xs-12  col-sm-6 hidden-sm-down">
          <%= cl_image_tag("apple-iphone6plus-silver-portrait_cy2pru.png", class: "img-responsive") %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# WELCOME BANNER  %>

<!-- <div class="banner" style="padding-bottom: 90px; background-image: linear-gradient(320deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 80%), url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1488814706/jairzinho-artilheiro_10tcy0jzcubmb12p8szmlq5tcg_cmutlh.jpg');">
 -->
<%# Stadiums we went tooo %>
<!--   <div style="margin-top: 90px;" class="container text-center banner-content">
    <h1 style="margin-bottom: 90px; text-shadow: 2px 2px #1A2632;">Últimos Jogos</h1>

    <div class="container" style="padding: 0px">

      <div class="row">
        <div class="col-xs-12  col-sm-6">
          <%#= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user" style="margin-bottom: 0px;">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825799/vasco_yi6nxn.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825798/corinthians-hd-logo_gwyl6m.png" class="avatar">
          </div>
        </div>

        <div class="col-xs-12  col-sm-6">
          <%#= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user" style="margin-bottom: 0px;">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488982065/sao-paulo-hd-logo_sb0bqy.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488982065/internacional-hd-logo_evnj3r.png" class="avatar">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12  col-sm-6">
          <%#= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user" style="margin-bottom: 0px;">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488982065/cruzeiro-hd-logo_voqedg.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825799/criciuma-ec-hd-logo_vdgdsg.png" class="avatar">
          </div>
        </div>

        <div class="col-xs-12  col-sm-6">
          <%#= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user" style="margin-bottom: 0px;">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825798/ec-victoria-hd-logo_jrunlm.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825799/esporte-clube-bahia-hd-logo_zdgp3h.png" class="avatar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 -->



<%# Who we are and why you should joing  %>

<!-- PARTNER SIDE -->
<div class="container-offset"  style="background-color: #324567;">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center what-we-do-font">PARTNERS</h1>
    </div>
  </div>
</div>
<div class="banner" style="padding-bottom: 50px; background-color:#fff;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row what-we-do-red">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494354530/time_1_dk9izt.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Identidy the Demand</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row what-we-do">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494354530/time_1_dk9izt.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">

             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Optimize Your Workforce</p>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row what-we-do-red">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494354530/time_1_dk9izt.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Collect the Data</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row what-we-do">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494354530/time_1_dk9izt.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Manage Your Stocks</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row what-we-do-red">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494354530/time_1_dk9izt.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">

             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Please Your Fans</p>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row what-we-do">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494354530/time_1_dk9izt.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Book a Meeting</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- #### -->

<!-- contact-us -->

<section data-section="contact" style="background-color: #ED254E;">
    <div class="what-we-do-font" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-4 to-animate">
            <h3 class="section-title">Visão</h3>
            <p>Mais Uma foi criado por fãs que não queriam mais perder um segundo dos jogos dos seus times de coração. Nossa missão é acabar com as filas durante os eventos. Queremos alcançar todo o Brasil e para isso precisamos da força das torcidas.</p>
          </div>

          <div class="col-md-4 to-animate">
            <h3 class="section-title">Nosso Endereço</h3>
            <ul class="contact-info">
              <li><i class="icon-map-marker"></i>Rua Anywhere</li>
              <li><i class="icon-phone"></i>(53) 99948-5494</li>
              <li><i class="icon-envelope"></i><a href="#">contato@maisumapedida.com.br</a></li>
              <li><i class="icon-globe2"></i><a href="www.maisumapedida.com">www.maisumapedida.com</a></li>
            </ul>
            <h3 class="section-title">Siga-nós</h3>
            <ul class="social-media">
              <li><a href="https://www.facebook.com/MaisUmaPedida" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-md-4 to-animate">
            <h3 class="section-title">Envie uma mensagem</h3>
            <form action="email.php" method="post" class="contact-form">
              <div class="form-group">
                <label for="name" class="sr-only">Nome</label>
                <input type="text" name="first_name" class="form-control" id="name" placeholder="Nome">
              </div>
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="message" class="sr-only">Mensagem</label>
                <textarea class="form-control" name="message" id="message" rows="7" placeholder="Mensagem"></textarea>
              </div>
              <div class="form-group">
                <input style="background-color: #324567;" type="submit" name="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Enviar">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- #### -->

<!-- TEAM -->

<div class="container-offset"  style="background-color: #324567;">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center what-we-do-font">THE TEAM</h1>
    </div>
  </div>
</div>
<div class="banner" style="padding-bottom: 50px; background-color:#fff;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px; background-image: url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1494365612/Ziko_imorzx.png');">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494364809/Diogo_gm8u0v.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Identidy the Demand</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494364809/Diogo_gm8u0v.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Identidy the Demand</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494364809/Diogo_gm8u0v.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Collect the Data</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1494364809/Diogo_gm8u0v.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <p class="subtitle-home what-we-do-font" style="text-transform: uppercase; font-size: 20px;" >Collect the Data</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- ### -->
<!-- <div class="banner" style="padding-bottom: 50px; background-color:#A5ABAF;">
  <div class="container">
    <h1 style="margin-bottom: 40px;  text-shadow: 2px 2px #1A2632;"> Visão </h1>
      <p class="subtitle-home"> "Mais Uma foi criado por fãs que não queriam mais perder um segundo dos jogos dos seus times de coração. Nossa missão é acabar com as filas durante os eventos. Queremos alcançar todo o Brasil e para isso precisamos da força das torcidas" </p>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-6" style=" padding: 30px;">
         <%#= link_to "Queremos Mais Uma", new_user_session_path , class: "btn btn-primary home-btn order" %>
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6" style=" padding: 30px;">
         <%#= link_to "Quero experimentar", new_user_session_path , class: "btn btn-primary home-btn order" %>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="banner" style="padding-bottom: 60px; background-image: linear-gradient(320deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 80%), url('https://follesetglorieuses.files.wordpress.com/2014/04/maracana-1950-copie.jpg');">
  <div class="container text-center banner-content"; style="margin-top: 90px;">
    <h1 style="margin-bottom: 40px; text-shadow: 2px 2px #1A2632;"> Otimização das vendas </h1> -->
    <!--   <div class="container"> -->


 <!--  <div class="container" style="margin-top: 70px;">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="https://image.flaticon.com/icons/svg/235/235286.svg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <t class="subtitle-home" style="text-transform: uppercase; font-size: 20px;" > Coletando Dados </t>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="https://image.flaticon.com/icons/svg/235/235193.svg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <t class="subtitle-home" style="text-transform: uppercase; font-size: 20px;" > Acompanhando a Demanda </t>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
            <img width="200" height="200" src="https://image.flaticon.com/icons/svg/235/235265.svg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
             <t class="subtitle-home" style="text-transform: uppercase; font-size: 20px;" > Adaptando a Oferta </t>
          </div>
        </div>
      </div>
    </div>
  </div> -->





    <%#= link_to "Agende uma reunião", new_user_session_path , class: "btn btn-primary home-btn order" %>

<!-- </div> -->







