
<div class="banner" style="background-image: linear-gradient(320deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 80%), url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1488814706/jairzinho-artilheiro_10tcy0jzcubmb12p8szmlq5tcg_cmutlh.jpg');">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="banner-content">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Where we are...">
            </div>
            <div class="form-group">
            <span type="submit" class="btn btn-default">Go</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div style="margin-top: 45px;" class="row">
      <div class="col-xs-12 col-md-4 col-sm-12">
        <div class="card" style="background-image: url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1488826715/Capture_d_e%CC%81cran_2017-03-06_a%CC%80_15.57.45_eq1l2q.png');">
          <div class="card-user">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825799/vasco_yi6nxn.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825798/corinthians-hd-logo_gwyl6m.png" class="avatar">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-12">
        <div class="card" style="background-image: url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1488826715/Capture_d_e%CC%81cran_2017-03-06_a%CC%80_15.57.45_eq1l2q.png');">
          <div class="card-user">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825799/vasco_yi6nxn.png" class="avatar">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-12">
        <div class="card" style="background-image: url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1488826715/Capture_d_e%CC%81cran_2017-03-06_a%CC%80_15.57.45_eq1l2q.png');">
          <div class="card-user">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825799/vasco_yi6nxn.png" class="avatar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

