<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['Time', 'Revenue Generated R$'],
        ['20:00',  10000],
        ['20:15',  20000],
        ['20:30',  28000],
        ['20:45',  40000],
        ['21:00',  50000],
        ['21:15',  57500],
        ['21:30',  65900],
        ['21:45',  72430],
        ['22:30',  83000]

      ]);

      var options = {
        title: 'Overall revenue generated',
        curveType: 'function',
        legend: { position: 'bottom'},
        backgroundColor: '#FFAAAA',

      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      chart.draw(data, options);
    }
  </script>
</head>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
    <br>
      <div  id="curve_chart">
      </div>
    </div>
  </div>
</div>
