<!-- Page where all the data will be available for the event managers -->

<div class="padded" style="background-color:#E84751;">

  <!-- Event name -->
  <div class="msg text-center" style="color: white; font-size: 60px; margin: 40px auto">
    <img width="200" height="200" style="display: block; margin: auto" src="https://image.flaticon.com/icons/svg/290/290175.svg">
    <h1> <%= @event.home_team %> x <%= @event.away_team %> KPIs</h1>
  </div>

  <div class="container">

    <%# KpiIcons %>
    <div class="row">

      <!-- Revenue Generated -->
      <div class="col-xs-12 col-sm-4 text-center">
        <img width="250" height="250" src="https://image.flaticon.com/icons/svg/330/330742.svg">
        <%= link_to kpi_revenue_generated_path(event_id: @event.id) do %>
          <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px; margin: 20px auto;">Revenue Generated</button>
        <% end %>
      </div>

      <!-- Demand Owerview -->
      <div class="col-xs-12 col-sm-4 text-center">
        <img width="250" height="250" src="https://image.flaticon.com/icons/svg/290/290180.svg">
        <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px; margin: 20px auto;"> Demand Owerview </button>
      </div>

      <!-- Delivery Ranking -->
      <div class="col-xs-12 col-sm-4 text-center">
        <img width="250" height="250" src="https://image.flaticon.com/icons/svg/235/235189.svg">
        <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px; margin: 20px auto;">Delivery Ranking</button>
      </div>

  </div>


<%# KpiTitle%>
  <div class="row">

    <div class="col-xs-12 col-sm-4 text-center">
    <%= link_to  kpi_revenue_generated_path do %>
     <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px;">Revenue Generated</button>
     <% end %>

      </div>

      <!-- Customer Profiles -->
      <div class="col-xs-12 col-sm-4 text-center">
        <img width="250" height="250" src="https://image.flaticon.com/icons/svg/235/235265.svg">
        <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px; margin: 20px auto;">Customer Profiles </button>
      </div>

      <!-- Stand Reports -->
      <div class="col-xs-12 col-sm-4 text-center">
        <img width="250" height="250" src="https://image.flaticon.com/icons/svg/235/235286.svg">
        <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px; margin: 20px auto;"> Stand Reports</button>
      </div>
    </div>

  </div>

</div>

 <!--    <%# KpiTitle%>
    <div class="row">

      <div class="col-xs-12 col-sm-4 text-center">
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
      </div>

    </div>

    <%# KpiIcons %>
    <div class="row">


    </div>


    <%# KpiTitle%>
    <div class="row">

      <div class="col-xs-12 col-sm-4 text-center">
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
      </div>

    </div>
 -->
