<div style="background-color:white; height: 100%">
  <br>
  <br>
  <div class="msg" style="text-align: center; color: white; font-size: 80px;">
    <h1> Partners </h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img width="250" height="250" src="https://image.flaticon.com/icons/svg/290/290186.svg">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <%= link_to "Review Orders", orders_path, class: "btn btn-primary selectors-btn" %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img width="250" height="250" src="https://image.flaticon.com/icons/svg/168/168530.svg">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <%= link_to "Review Products", products_path, class: "btn btn-primary selectors-btn"%>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img width="250" height="250" src="https://image.flaticon.com/icons/svg/290/290175.svg">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <%= link_to "View Kpis", kpi_path, class: "btn btn-primary selectors-btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

