
 <div style="background-color:#E84751">

<br>
<img width="200" height="200" style="display: block; margin: auto" src="https://image.flaticon.com/icons/svg/290/290175.svg">
<br>
<div class="msg" style="text-align: center; color: white; font-size: 60px;"
<h1> #{name of the game} KPIs</h1>
<br>
<br>

<div class="container">


<%# KpiIcons %>
  <div class="row">



      <div class="col-xs-12 col-sm-4">
      <img width="250" height="250" src="https://image.flaticon.com/icons/svg/330/330742.svg">
      </div>

      <div class="col-xs-12 col-sm-4">
      <img width="250" height="250" src="https://image.flaticon.com/icons/svg/290/290180.svg">
      </div>

      <div class="col-xs-12 col-sm-4">
     <img width="250" height="250" src="https://image.flaticon.com/icons/svg/235/235189.svg">
      </div>

  </div>


<%# KpiTitle%>
  <div class="row">

      <div class="col-xs-12 col-sm-4 text-center">
     <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px;">Revenue Generated</button>
      </div>



      <div class="col-xs-12 col-sm-4 text-center">
     <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px;"> Demand Owerview </button>
      </div>


      <div class="col-xs-12 col-sm-4 text-center">
      <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px;">Delivery Ranking</button>
      </div>
  </div>

<%# KpiIcons %>
  <div class="row">



      <div class="col-xs-12 col-sm-4">
      <img width="250" height="250" src="https://image.flaticon.com/icons/svg/344/344420.svg">
      </div>

      <div class="col-xs-12 col-sm-4">
      <img width="250" height="250" src="https://image.flaticon.com/icons/svg/235/235265.svg">
      </div>

      <div class="col-xs-12 col-sm-4">
     <img width="250" height="250" src="https://image.flaticon.com/icons/svg/235/235286.svg">
      </div>

  </div>


<%# KpiTitle%>
  <div class="row">

      <div class="col-xs-12 col-sm-4 text-center">
     <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px;">Order Details</button>
      </div>



      <div class="col-xs-12 col-sm-4 text-center">
     <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px;">Customer Profiles </button>
      </div>


      <div class="col-xs-12 col-sm-4 text-center">
      <button type="button" class="btn btn-primary" style="background-color:#5DD9DE; border-color: #B53324; opacity: 0,6; border-radius: 7px;"> Stand Reports</button>
      </div>
  </div>


</div>





</div>
