<!-- ****** Don't really know what this page is supposed to do ****** -->

<div class="container">
  <div class="row">
    <% stands = current_user.products_stocks.map { |stock| stock.stand } %>
    <% stands.uniq.each do |stand| %>
      <div class="col-xs-3">
        <div class="card" style="background-color: white">
          <img src="https://unsplash.it/200" style="width:100%; margin-bottom:60%">
          <div style="color: black;">
            <%= stand %>
          </div>
          <div class="">

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
