<!-- ****** Don't really know what this page is supposed to do ****** -->

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%=@section.products_stocks%>
    </div>
  </div>
</div>
