.booking-form {
  background-color: #A2A2A2;
  padding: 20px;
  height: 400px;
}
.marginilized {
  margin: 20px 0
}

.refresh {
  margin-top: 50px;
}

.custom-button {
  background-color: yellow;
  border: solid orange 1px;
  border-radius: 2px;
  color: white;
}

.custom-button:hover {
  opacity: 0.7;
  background-color: yellow !important;
  border: solid orange 1px !important;
}

.stock-update {
  margin-top: 40px
}

.other-button {
  background-color: green;
  border: solid purple 1px;
  border-radius: 2px;
  color: white;
}

.other-button:hover {
  opacity: 0.7;
  background-color: green !important;
  border: solid purple 1px !important;
  color: white !important;
}

.new-bg {
  background-color: #324567
}
